@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 97%;
    --foreground: 210 10% 23%;
    --card: 210 29% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 29% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 213 52% 65%;
    --primary-foreground: 213 50% 10%;
    --secondary: 210 30% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 30% 90%;
    --muted-foreground: 210 8% 45%;
    --accent: 49 100% 67%;
    --accent-foreground: 49 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 213 52% 65%;
    --chart-1: 213 52% 65%;
    --chart-2: 49 100% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 210 29% 97%;
    --card: 210 10% 18%;
    --card-foreground: 210 29% 97%;
    --popover: 210 10% 18%;
    --popover-foreground: 210 29% 97%;
    --primary: 213 52% 65%;
    --primary-foreground: 213 50% 10%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 29% 97%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 8% 65%;
    --accent: 49 100% 67%;
    --accent-foreground: 49 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 213 52% 65%;
    --chart-1: 213 52% 65%;
    --chart-2: 49 100% 67%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
